<div class="jumbotron jumbotron-fluid vertical-center col-md-12 full-view" id="home">
  <div class="container">
    <div class="row">
      <h1 class="display-3 col-12">J.C</h1>
    </div>
    <div class="row">
      <h1 class="display-3 col-12">Ariyamethe</h1>
    </div>
    <div class="row">
      <h3 class="display-3 col-12 text-align-right">Full Stack Developer</h3>
    </div>
  </div>
</div>
