/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
// General styling
 h1.display-3{
   font-family: 'Mr De Haviland', cursive;
 }
 body{
   font-family: 'Josefin Slab', serif;
   background-image: url(image-path('purple-back.jpg'));
   background-attachment: fixed;
 }
 .vertical-center {
   min-height: 100%;
   // min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .text-align-center{
   text-align: center;
 }
  .text-align-right{
    text-align: right;
  }
  .full-view{
    padding: 75px;
    min-height: 100vh;

  }

 //NavBar styling
nav{
 background-color: lavender;
 margin-bottom: 0;
 border-style: none;
}

.navbar-brand{
 background-color: lavender;
 border-style: none;
 box-shadow: 0;
}
.dropdown {
  position: static;
  border-style: none;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
}
li.dropdown-menu {
  display: inline-block;
  }
// Jumbotron styling
  .jumbotron{
    height: 100vh;
    margin: 0;
    background-color: rgba(32,32,32,0.8);
    color: white;
  }

// About page Styling
   #about{
     background-color: rgba(80,80,80,0.5);
     color: white;
   }


// Education Page
   #edu{
     background-color: rgba(32,32,32,0.8);
     color: white;
   }
   .card{
     background-color: gray;
   }

// Work Page
   #work{
     background-color: rgba(80,80,80,0.5);
     color: white;
   }

  .wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font: normal 16px/26px;
    color: #fff;
    padding: 100px 20px 200px;
    box-sizing: border-box;
  }

  .block {
    z-index: 1;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: calc(100% - 40px);
      width: 1px;
      background-color: #f2f2f2;
      left: 50%;
      margin-top: 90px;
    }
  }

  .title {
    font: bold 42px/52px;
    text-align: center;
    padding: 20px;
    transition: all 0.8s ease-in-out;
  }

  .each-event {
    background-color: #f4f4f4;
    color: #777;
    padding: 15px;
    margin: 60px 20px;
    width: 300px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
    }
    &:nth-child(odd) {
      margin-left: calc(50% + 20px);
    }
    &:nth-child(even) {
      margin-left: calc(50% - 321px);
      &:before {
        left: calc(100% + 14px);
      }
    }
  }

  .title.non-focus {
    font-size: 24px;
    line-height: 34px;
    transition: all 0.8s ease-in-out;
  }

  .each-event.non-focus {
    color: #d2d2d2;
    background: #e6e6e6;
    margin-top: 90px;
    transform: rotateZ(45deg);
    transition: all 0.8s ease-in-out;
    &:before {
      opacity: 0;
      background-color: #aaa;
    }
  }




//portfolio page
   #portfolio{
     background-color: rgba(32,32,32,0.8);
     color: white;
   }


//Contact Page
   #contact{
     background-color: rgba(80,80,80,0.5);
     color: white;
   }

// Blog Page
   #blog{
     background-color: rgba(32,32,32,0.8);
     color: white;
   }
