<div class="full-view" id="about">

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <%= image_tag("meat.jpg", :alt => "My Fat Face", :width => "100%")%>

      </div>

      <div class="col-lg-6 col-sm-12 text-align-center">
        <h1> About me</h1>
        <p>Hi! I'm Cindy. <br> An aspiring full stack developer from Sydney.
          Born and raised in Sydney, I spent a few years building up a mini-career
          in hospitality, while realising very quickly that my interests lay
          elsewhere. From my experiences in hospitality I have developed many
          valuable skills such as the importance of team work, influential
          leadership, problem solving and customer service (aka people pleaser).
          I really enjoyed the people I worked with, however the actual job
          itself not so much. This was the main reason why I decided to switch
          careers and dove head first into a web development bootcamp at coder
          academy, as I was craving a career that was more engaging. To be
          brutally honest it was THE. BEST. DECISION. EVER! 

      </div>

    </div>

</div>
