<div class="full-view" id="blog">
  <div class="container text-align-center">

    <h1>OMNOMNOMNOMNOMS~</h1>
    <h2> Blog coming soon!</h2>
    <p> Yes. Yes. I know it's another asian chic who lives in Sydney coming in
      with another (mainly) food blog. I eat, drink and travel a lot so this
      is the perfect intersection of alot of my interests while it lets me
      exercise my web development skills!</p>


  </div>
</div>
