<div class="full-view" id="contact">
  <div class="container text-align-center">
    <h1>CONTACT ME!</h1>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4">
        <div class="card card-inverse text-align-center">
          <img class="card-img" <%= image_tag("Github_logo.png", :alt => "Git Hub Logo", :width => "100%")%>
          <div class="card-img-overlay">
            <a href="https://github.com/aggressivecutie", target="_blank"><h4 class="card-title hyperlink-white">Git Hub</h4></a>
            <p class="card-text">Follow me to see some of my works.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-inverse text-align-center">
          <img class="card-img" <%= image_tag("LinkedIn-Logo-500x500", :alt => "Linkedin logo", :width => "100%")%>
          <div class="card-img-overlay">
            <a href="https://www.linkedin.com/in/cindy-ariyamethe-009949126/?ppe=1", target="_blank"><h4 class="card-title hyperlink-white">Linkedin</h4></a>
            <p class="card-text">Connect with me!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
