<div class="full-view" id="edu">

  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" <%= image_tag("WGHS-logo.jpg", :alt => "WGHS logo")%>
        <div class="card-block">
          <h4 class="card-title">Willoughby Girls High School</h4>
          <p class="card-text">I've always been a bit of a tomboy so going to
            an all girls school I always felt a little out of place. It was a
            great school, but I wished they had offered a more diverse range
            of subjects, ones that are usually seen as more "male" subjects.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" <%= image_tag("USYD.png", :alt => "USYD logo")%>
        <div class="card-block">
          <h4 class="card-title">University of Sydney</h4>
          <p class="card-text">Studied Bachelor of Arts majoring in Asian
            Studies. My main study focus areas was Japan and South East Asia.
            Quite an interesting area of study as you get to study many different
            aspects of the region, from politics and economics to sociology and
            culture.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" <%= image_tag("coder_aca_logo.png", :alt => "Coder Academy Logo")%>
        <div class="card-block">
          <h4 class="card-title">Coder Academy</h4>
          <p class="card-text">A 6 month bootcamp for web development. I dove
            in head first as I was in desperate need of a career change. This
            course has been an amazing experience teaching me all I needed to
            know on how to be a full stack developer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="skills">
      <h1></h1>
      

    </div>
  </div>

</div>
