<div class="container" id="edu">
  <div class="full-view">
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Willoughby Girls High School</h4>
            <p class="card-text">My young and dumb phase. </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">University of Sydney</h4>
            <p class="card-text">Studied Bachelor of Arts majoring in Asian Studies. My main study focus areas was Japan and South East Asia.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Coder Academy</h4>
            <p class="card-text">A 6 month bootcamp for web development. I dove in head first as I was in desperate need of a career change. Life Changing!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="skills">
        <h1></h1>
        <h1> Add relevent skills that I have picked up from my educations</h1>

      </div>
    </div>
  </div>
</div>
