<!-- Image and text -->

<nav class="navbar fixed-top navbar-toggleable navbar-light bg-faded justify-content-center">
  <div class="nav-item dropdown justify-content-end">
    <a class="navbar-brand" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag("logo.svg", :alt => "JCA logo", :width =>"50", :height =>"50" ) %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#home">Home</a>
      <a class="dropdown-item" href="#about">About me</a>
      <a class="dropdown-item" href="#edu">Education</a>
      <a class="dropdown-item" href="#work">Work Experience</a>
      <a class="dropdown-item" href="#portfolio">Portfolio</a>
      <a class="dropdown-item" href="#contact">Contact Me</a>
      <a class="dropdown-item" href="#blog">Blog Posts</a>
    </div>
  </div>
</nav>
