<div class="full-view" id="work">

<h1>Work Experience</h1>
<p>this will have my work experience. Hexagons running down the page
  chronologically.<br> when hovered over a little description will pop up
  detailing the skills and responsibilities that I picked up from that job.
</p>
</div>
